# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\mypython\mydjango_product\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
